@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@300&display=swap');


main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    width: 600px;
    background-color: white;
    border-color: whitesmoke;
    box-shadow: 26px 28px 15px -8px rgba(0,0,0,0.15);
    border-radius: 0.7rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(126, 88, 161);
}
